<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logDir">${sys:propertee.teebox.logDir:-logs}</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%logger{1}] %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="File"
                     fileName="${logDir}/teebox.log"
                     filePattern="${logDir}/teebox-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
